.footer {
  background: #194240;
  padding: 96px 102px 64px 102px;
}
.footer__container {
  display: flex;
  border-bottom: 2px solid white;
}
.footer__container-rent {
  display: flex;
  flex-wrap: wrap;
  width: 570px;
  padding-top: 60px;
  padding-right: 276px;
  font-size: 24px;
  justify-content: center;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}
.footer__container-list {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  width: 206px;
  padding-bottom: 75px;
}
.footer__container-list-title {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.footer__container-footer {
  display: flex;
}
.footer__container-list-content {
  display: flex;
  flex-wrap: wrap;
  word-wrap: normal;
  flex-direction: column;
  font-size: 13px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.6);
}
.footer__footer {
  display: flex;
  justify-content: space-between;
  padding-top: 37px;
}
.footer-media {
  display: flex;
  justify-content: space-between;
}
.footer-rights {
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.3);
}
.footer-contacts {
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.3);
  margin-right: 16px;
}
.social-img{
    margin-right: 17px;
}
@media(max-width: 375px) {
  .footer{
    padding: 25px;
  }
  .footer-media{
    flex-wrap: wrap;
    height: 50px;
    justify-content: start;
  }
  .footer__container-list{
    display: none;
  }
  .footer__container-rent{
    width: 100%;
    padding: 25px;
  }
  .footer-contacts{
    font-size: 17px;
    line-height: 18px;
    width: 100%;
  }
  .social-img{
    margin-right: 11px;
  }
  .footer-rights{
    margin-right: 80px;
  }
}